.app {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 32px 24px;
  gap: 24px;
}

.editorBar {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sectionEditor {
  display: flex;
  border-radius: 5%;
  background-color: black;
  padding: 20px;
  width: 350px;
}